/*prussian-blue: #003049;
  maximum-red: #D62828;
  amber: #F77F00;
  maximum-yellow-red: #FCBF49;
  lemon-meringue: #EAE2B7;
*/

body {
  background-color: #003049;
}

h1 {
  color: #D62828;
  text-align: center;
  background: #FCBF49;
}

h2 {
  color: #F77F00;
}
