:root {
  --prussian-blue:#003049;
  --maximum-red: #D62828;
  --amber: #F77F00;
  --maximum-yellow-red: #FCBF49;
  --lemon-meringue: #EAE2B7;

}

body {
  background-color: var(--prussian-blue);
}

h1 {
  color: var(--maximum-red);
  text-align: center;
  background-color: var(--lemon-meringue);
  margin: auto;
  padding: 10px;
}

h2 {
  color: var(--amber);
  margin: auto;
  padding: 10px;
}

body {
      font-family:"avenir next", Arial, sans-serif;
      font-size: 12px;
      color: #696969;
    }

    .ticks {
      font-size: 10px;
    }

    .track,
    .track-inset,
    .track-overlay {
      stroke-linecap: round;
    }

    .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 10px;
    }

    .track-inset {
      stroke: #ddd;
      stroke-width: 8px;
    }

    .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
    }
